.header {
    @include flex ();
    position: fixed;
    background: $primary-color;
    padding: $p-2;
    
    width: 100%;
    height: 15rem;

    clip-path: polygon(0 0, 100% 0, 100% 0, 15vh 100%);
    z-index: 10;
}


